<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Petrichor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="logo">Petrichor</div>
    <div class="subtitle">Predict rainfall for any location and date</div>
    <form [formGroup]="rainForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-label position="stacked">Date</ion-label>
        <ion-input 
          type="date" 
          formControlName="date" 
          required 
          clear-input="true"
          aria-label="Select prediction date">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Town or City Name</ion-label>
        <ion-input 
          type="text" 
          formControlName="location" 
          placeholder="e.g. Toronto" 
          required 
          clear-input="true"
          autocomplete="address-level2"
          aria-label="Enter location name">
        </ion-input>
      </ion-item>
      <ion-button 
        expand="block" 
        type="submit" 
        [disabled]="rainForm.invalid || loading"
        size="default"
        strong="true">
        <ion-icon name="cloud-outline" slot="start" *ngIf="!loading"></ion-icon>
        <ion-spinner name="circular" slot="start" *ngIf="loading"></ion-spinner>
        {{ loading ? 'Processing...' : 'Show Rainfall Prediction' }}
      </ion-button>
    </form>
    
    <div *ngIf="loading" class="progress-container">
      <ion-progress-bar [value]="progress/100" color="primary"></ion-progress-bar>
      <div class="progress-text">{{progress}}%</div>
    </div>
    
    <ion-card *ngIf="finalResult" color="primary">
      <ion-card-content [innerHTML]="finalResult"></ion-card-content>
    </ion-card>
    
    <div id="result" *ngIf="result">
      <div [innerHTML]="result"></div>
    </div>
  </div>
</ion-content>